@model WebBanHang.Models.NhaCungCap

@{
    ViewBag.Title = "Them";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}


<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">THÊM MỚI NHÀ SẢN XUẤT</div>
        <div class="panel-body">
            @using (Html.BeginForm("Them", "QuanLyNhaCungCap", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <!--row-->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Ten Nhà Cung Cấp</div>
                    <div class="col-md-10">
                        <input type="text" name="tenncc" class="form-control" required />
                    </div>
                </div>
                <!--end row-->
                <!--row-->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Địa Chỉ</div>
                    <div class="col-md-10">
                        <input type="text" name="diachi" class="form-control" required />
                    </div>
                </div>
                <!--end row-->
                <!--row-->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Email</div>
                    <div class="col-md-10">
                        <input type="text" name="Email" class="form-control" required />
                    </div>
                </div>
                <!--end row-->
                <!--row-->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Số Điện Thọai</div>
                    <div class="col-md-10">
                        <input type="text" name="sodienthoai" class="form-control" required />
                    </div>
                </div>
                <!--end row-->
                <!--row-->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Số Fax</div>
                    <div class="col-md-10">
                        <input type="text" name="fax" class="form-control" required />
                    </div>
                </div>
                <!--end row-->
                
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
        <!-- Modal footer -->


        <div class="modal-footer">
            @Html.ActionLink("Close", "Index", "QuanLyNhaCungCap", new { @class = "btn btn-default" })
        </div>
    </div>
</div>
<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>





