@model WebBanHang.Models.LoaiSanPham
@{
    ViewBag.Title = "Xoa";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">XOÁ DỮ LIỆU</div>
        <div class="panel-body">
            <!--row-->
            <div class="row" style="margin-top:5px;">
                <div class="col-md-2">Mã Loại Sản Phẩm</div>
                <div class="col-md-10">
                    @Model.MaLoaiSP
                </div>
            </div>
            <!--end row-->
            <!--row-->
            <div class="row" style="margin-top:5px;">
                <div class="col-md-2">Tên Loại</div>
                <div class="col-md-10">
                    @Model.TenLoai
                </div>
            </div>
            <!--end row-->
            <!--row-->
            <div class="row" style="margin-top:5px;">
                <div class="col-md-2">BiDanh</div>
                <div class="col-md-10">
                    @Model.BiDanh
                </div>
            </div>
            <!--end row-->
            <!--row-->
        </div>
        @using (Html.BeginForm())
        {
            <div class="row" style="margin-top:20px;">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Delete" class="btn btn-default" onclick="return window.confirm('Bạn có chắc chắn muốn xóa vĩnh viễn?');" />
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                @Html.ActionLink("Close", "Index", "QuanLyLoaiSanPham", new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>







