@for (int i = 0; i < 3; i++)
{
    <div class="blog-top">
        <div class="col-md-6 grid_3">
            <h3><a href="blog_single.html">Lorem Ipsum is simply</a></h3>
            <a href="blog_single.html"><img src="images/b1.jpg" class="img-responsive" alt="" /></a>

            <div class="blog-poast-info">
                <ul>
                    <li><a class="admin" href="#"><i> </i> Admin </a></li>
                    <li><span><i class="date"> </i>12-04-2022</span></li>
                    <li><a class="p-blog" href="#"><i class="comment"> </i>No Comments</a></li>
                </ul>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="button"><a href="#">Read More</a></div>
        </div>
        <div class="col-md-6 grid_3">
            <h3><a href="blog_single.html">Lorem Ipsum is simply</a></h3>
            <a href="blog_single.html"><img src="images/b2.jpg" class="img-responsive" alt="" /></a>

            <div class="blog-poast-info">
                <ul>
                    <li><a class="admin" href="#"><i> </i> Admin </a></li>
                    <li><span><i class="date"> </i>12-04-2022</span></li>
                    <li><a class="p-blog" href="#"><i class="comment"> </i>No Comments</a></li>
                </ul>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="button"><a href="#">Read More</a></div>
        </div>
        <div class="clearfix"> </div>
    </div>

}