
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}

<div class="blog">
    <div class="container">
        <h1>Bài viết</h1>
        @Html.Partial("~/Views/Blog/BlogPartial.cshtml")
    </div>
</div>
